.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.header {
    font-weight: 700;
}

.row:nth-child(odd) {
    background-color: hsla(0, 0%, 51%, 0.04);
}

.row:hover {
    background-color: var(--vscode-list-hoverBackground);
}

.key {
    width: 33%;
}

.key > * {
    width: calc(100% - 12px);
}

.value > * {
    width: calc(100% - 6px);
}
